extends layout

block content

	link(rel='stylesheet', type='text/css', href='webix/codebase/webix.css')
	
	script(src='webix/codebase/webix.js')  
	script(src='config.js', type='text/javascript', charset='utf-8')  
	script(src='lib/graph/shared.js', type='text/javascript', charset='utf-8')  
	script(src='lib/graph/lookup_ui.js', type='text/javascript', charset='utf-8')  
	script(src='lib/ui.js', type='text/javascript', charset='utf-8')  
    
	body

